<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/common.html :: page_head('Brands - Shopme Admin', 'none')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Brands</h2>
		<a th:href="@{/brands/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark me-5"></a>
		<a th:href="@{/brands/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
		<a th:href="@{/brands/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
		<a th:href="@{/brands/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
	</div>

	<div th:replace="~{fragments/common.html :: search_form_and_message('/brands/page/1')}"></div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<div class="row">
					<th class="hideable_column">
					<th th:replace="~{fragments/listing.html :: column_link('/brands', 'id', 'Brand ID', 'tag')}"></th>
					</th>
					<th>Logo</th>
					<th th:replace="~{fragments/listing.html :: column_link('/brands', 'name', 'Brand Name', 'none')}">
					</th>
					<th>Categories</th>
					<th class="col-lg-1 col-md-2 col-sm-1"></th>
				</div>
			</thead>
			<tbody>
				<tr th:each="brand : ${listBrands}">
					<td class="hideable_column">[[${brand.id}]]</td>
					<td>
						<img th:src="@{${brand.logoPath}}" style="width: 100px;" class="img-fluid">
					</td>
					<td>[[${brand.name}]]</td>
					<td>
						<th:block th:each="cat : ${brand.categories}">
							<span class="badge text-bg-secondary" th:text="${cat.name}"></span>
						</th:block>
					</td>
					<td>
						<div th:replace="~{fragments/listing.html :: edit('brand', '/brands/edit/' + ${brand.id})}">
						</div>
						<div
							th:replace="~{fragments/listing.html :: delete('brand', '/brands/delete/' + ${brand.id}, true, ${brand.id})}">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="less_details">
		<div th:each="brand : ${listBrands}" class="row m-1">
			<div class="col-4">
				<span th:if="${brand.logo == null}"><i
						class="fa-solid fa-image-portrait fa-2xl icon-silver center"></i></span>
				<img th:if="${brand.logo != null}" th:src="@{${brand.logoPath}}">
			</div>
			<div class="col-8">
				<div>[[${brand.name}]]</div>
				<div class="mt-2 mb-3">
					<div th:replace="~{fragments/listing.html :: edit('brand', '/brands/edit/' + ${brand.id})}">
					</div>
					<div
						th:replace="~{fragments/listing.html :: delete('brand', '/brands/delete/' + ${brand.id}, true, ${brand.id})}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/common.html :: pagination('/brands', 'brands')}"></div>
	<div th:replace="~{fragments/modal.html :: delete_confirm_modal}"></div>
	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/brands}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'brand');
			});
		});
	</script>
</body>

</html>