<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: header('Your Account Details')}"></head>

<body>
	<nav th:replace="~{navigation :: menu}"></nav>
	<div class="container">
		<form th:action="@{/account/update}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}"
			enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}">
			<div class="text-center">
				<h2>Your Account Details</h2>
			</div>
			<div th:if="${message != null}" class="alert alert-success text-center mx-3">
				[[${message}]]
			</div>
			<div class="border border-info rounded p-3">
				<div class="mb-3 row input-group text-start">
					<label for="email" class="col-sm-2 col-form-label">E-mail:</label>
					<div class="col-sm-10">
						<input type="email" class="form-control-plaintext" id="email" th:field="*{email}" readonly>
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="firstName" th:field="*{firstName}" required
							minlength="2" maxlength="45">
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="lastName" th:field="*{lastName}" required
							minlength="2" maxlength="45">
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="password" class="col-sm-2 col-form-label">Password:</label>
					<div class="col-sm-10">
						<input type="password" th:field="*{password}" class="form-control"
							placeholder="leave blank if you don't want to change password!" minlength="8" maxlength="20"
							oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="password" class="col-sm-2 col-form-label">Confirm Password:</label>
					<div class="col-sm-10">
						<input type="password" id="confirmPassword" class="form-control" minlength="8" maxlength="20"
							oninput="checkPasswordMatch(this)">
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="password" class="col-sm-2 col-form-label">Assigned Roles:</label>
					<div class="col-sm-10 text-start">
						<span class="fw-bold">[[${user.roles}]]</span>
					</div>
				</div>
				<div class="mb-3 row input-group text-start">
					<label for="enabled" class="col-sm-2 col-form-label">Photos:</label>
					<div class="col-sm-10 text-start pt-2">
						<input type="hidden" th:field="*{photos}">
						<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2">
						<img id="thumbnail" alt="Photo preview" th:src="@{${user.photosImagePath}}"
							class="img-fluid user_image">
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary me-3">
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
				</div>
			</div>
		</form>
	</div>
	<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script async type="text/javascript">
		moduleURL = "[[@{/}]]";
		
		function checkPasswordMatch(confirmPassword) {
			if (confirmPassword.value != $("#password").val()) {
				confirmPassword.setCustomValidity("Password do not match!");
			} else {
				confirmPassword.setCustomValidity("");
			}
		}
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>

</html>