<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: header('Users - Shopme Admin')}"></head>
<body>
	<nav th:replace="~{navigation :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Users</h2>
		<a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2xl icon-dark me-5"></a>
		<a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
		<a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
		<a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
	</div>
	<div th:if="${message != null}" class="alert alert-success text-center mx-3">
		[[${message}]]
	</div>
	<div>
		<form th:action="@{/users/page/1}" class="form-inline">
			<input type="hidden" name="sortField" th:value="${sortField}">
			<input type="hidden" name="sortDir" th:value="${sortDir}">
			<div class="w-50 p-3">
				<div class="input-group col mb-3">
					<span class="input-group-text">Filter</span>
					<input type="search" name="keyword" th:value="${keyword}" class="form-control search_bar"
						placeholder="Search...">
					<div class="ps-4">
						<button type="submit" class="btn btn-primary">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
						<button type="button" class="btn btn-secondary" onclick="clearFilter()">
							<i class="fa-solid fa-eraser"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<th class="hideable_column">
				<th th:replace="~{fragments :: column_link('id', 'User ID', 'tag')}"></th>
				</th>
				<th>Photos</th>
				<th class="hideable_column">
				<th th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}"></th>
				</th>
				<th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}"></th>
				<th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}"></th>
				<th>Roles</th>
				<th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}"></th>
				<th></th>
			</thead>
			<tbody th:replace="~{fragments :: userListing('other')}"></tbody>
		</table>
	</div>
	<div th:replace="~{fragments :: userListing('small')}"></div>
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No users found</span>
	</div>
	<nav th:if="${totalPages > 1}">
		<ul class="pagination justify-content-center flex-wrap">
			<li th:replace="~{fragments :: pagination(1, 'First', 'prev')}"></li>
			<li th:replace="~{fragments :: pagination(${currentPage-1}, 'Previous', 'prev')}"></li>
			<li th:replace="~{fragments :: paginationItem()}"></li>
			<li th:replace="~{fragments :: pagination(${currentPage+1}, 'Next', 'next')}"></li>
			<li th:replace="~{fragments :: pagination(${totalPages}, 'Last', 'next')}"></li>
		</ul>
	</nav>
	<div class="modal fade text-center" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		id="confirmModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments :: footer}"></div>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				link = $(this);
				userId = link.attr("userId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
				$("#confirmModal").modal("show");
			});
		});

		function clearFilter() {
			window.location = "[[@{/users}]]";
		}
	</script>
</body>

</html>