<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/common.html :: header('Users - Shopme Admin')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Users</h2>
		<a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2xl icon-dark me-5"></a>
		<a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
		<a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
		<a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
	</div>

	<div th:replace="~{fragments/common.html :: search_form_and_message('/users/page/1')}"></div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<th class="hideable_column">
				<th th:replace="~{fragments/listing.html :: column_link('/users', 'id', 'User ID', 'tag')}"></th>
				</th>
				<th>Photos</th>
				<th class="hideable_column">
				<th th:replace="~{fragments/listing.html :: column_link('/users', 'email', 'E-mail', 'tag')}"></th>
				</th>
				<th th:replace="~{fragments/listing.html :: column_link('/users', 'firstName', 'First Name', 'none')}">
				</th>
				<th th:replace="~{fragments/listing.html :: column_link('/users', 'lastName', 'Last Name', 'none')}">
				</th>
				<th>Roles</th>
				<th th:replace="~{fragments/listing.html :: column_link('/users', 'enabled', 'Enabled', 'none')}"></th>
				<th></th>
			</thead>
			<tbody th:replace="~{fragments/listing.html :: listing('other')}"></tbody>
		</table>
	</div>
	<div th:replace="~{fragments/listing.html :: listing('small')}"></div>


	<div th:replace="~{fragments/common.html :: pagination('/users', 'users')}"></div>

	<div th:replace="~{fragments/modal.html :: confirm_modal}"></div>

	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
	</script>
</body>

</html>