<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/common.html :: page_head('Products - Shopme Admin', 'none')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Products</h2>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<a th:href="@{/products/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark me-5"></a>
			<a th:href="@{/products/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
			<a th:href="@{/products/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
			<a th:href="@{/products/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
		</th:block>
	</div>

	<div>
		<form th:action="@{/products/page/1}" class="form-inline" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}">
			<input type="hidden" name="sortDir" th:value="${sortDir}">

			<div class="w-auto p-3 d-flex">
				<div class="row">
					<div class="input-group mb-3 col-lg-2">
						<span class="input-group-text">Category</span>
						<select class="form-control" name="categoryId" id="dropdownCategory">
							<option value="0">All Categories</option>
							<th:block th:each="cat : ${listCategories}">
								<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})">[[${cat.name}]]
								</option>
							</th:block>
						</select>
						<span class="input-group-text">Filter</span>
						<input type="search" name="keyword" th:value="${keyword}" class="form-control search_bar"
							placeholder="Search...">
						<div class="ps-4">
							<button type="submit" class="btn btn-primary">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
							<button type="button" class="btn btn-secondary" onclick="clearFilter()">
								<i class="fa-solid fa-eraser"></i>
							</button>
						</div>
					</div>

					<div class="col-lg-10"></div>
				</div>
			</div>
		</form>
		<div th:if="${message != null}" class="alert alert-success text-center mx-3">
			[[${message}]]
		</div>
	</div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<div class="row">
					<th th:replace="~{fragments/listing.html :: column_link('/products', 'id', 'ID', 'none')}">
					</th>
					<th>Main Image</th>
					<th
						th:replace="~{fragments/listing.html :: column_link('/products', 'name', 'Product Name', 'none')}">
					</th>
					<th th:replace="~{fragments/listing.html :: column_link('/products', 'brand', 'Brand', 'none')}">
					</th>
					<th
						th:replace="~{fragments/listing.html :: column_link('/products', 'category', 'Category', 'none')}">
					</th>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<th>Enabled</th>
					</th:block>
					<th class="col-lg-1 col-md-2 col-sm-1"></th>
				</div>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td>[[${product.id}]]</td>
					<td>
						<img class="prod_listing_img" th:src="@{${product.mainImagePath}}">
					</td>
					<td>
						<a class="link-detail link-underline fw-bold link-underline-opacity-0"
							th:href="@{'/products/detail/' + ${product.id}}"
							th:title="${product.name}">[[${product.shortName}]]</a>
					</td>
					<td>[[${product.brand.name}]]</td>
					<td>[[${product.category.name}]]</td>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<td>
						<div
							th:replace="~{fragments/listing.html :: status(${product.enabled}, 'product', '/products/' + ${product.id})}">
						</div>
					</td>
					</th:block>
					<td>
						<a class="fa-solid fa-file-lines fa-2xl icon-green me-2 link-detail"
							th:href="@{'/products/detail/' + ${product.id}}" title="View details of this product"></a>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
						<div
							th:replace="~{fragments/listing.html :: edit('product', '/products/edit/' + ${product.id})}">
						</div>
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<div
							th:replace="~{fragments/listing.html :: delete('product', '/products/delete/' + ${product.id}, true, ${product.id})}">
						</div>
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="~{fragments/modal.html :: delete_confirm_modal}"></div>
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>
	<div th:replace="~{fragments/common.html :: pagination('/products', 'products')}"></div>
	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/products}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'product');
			});
			$(".link-detail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
			$("#dropdownCategory").on("change", function () {
				$("#searchForm").submit();
			});
		});
	</script>
</body>

</html>