<!DOCTYPE html>
<html>

<body>
	<div th:fragment="content" id="divProductDetails">
		<th:block th:each="detail, status : ${product.details}">
			<input type="hidden" name="detailIDs" th:value="${detail.id}">
			<div class="row pb-2 position-relative" th:id="'divDetail' + ${status.index}">
				<div class="col-1">
					<label class="col-form-label pb-2 ps-5">Name:</label>
				</div>
				<div class="col-5">
					<input type="text" name="detailNames" class="form-control w-75" th:value="${detail.name}">
				</div>
				<div class="col-1">
					<label class="col-form-label pb-2 ps-5">Value:</label>
				</div>
				<div class="col-5">
					<input type="text" name="detailValues" class="form-control w-75" th:value="${detail.value}">
				</div>
				<div><a name="linkRemoveDetail" class="fa-solid fa-circle-xmark fa-xl icon-dark text-end" href="javascript:removeDetailSectionById('${previousDivDetailID}')" title="Remove this detail"></a></div>
			</div>
		</th:block>
		<div class="row pb-2 position-relative" th:id="'divDetail' + ${#lists.size(product.details)}">
			<input type="hidden" name="detailIDs" th:value="0">
			<div class="col-1">
				<label class="col-form-label pb-2 ps-5">Name:</label>
			</div>
			<div class="col-5">
				<input type="text" name="detailNames" class="form-control w-75">
			</div>
			<div class="col-1">
				<label class="col-form-label pb-2 ps-5">Value:</label>
			</div>
			<div class="col-5">
				<input type="text" name="detailValues" class="form-control w-75">
			</div>
		</div>
	</div>
</body>

</html>