<!DOCTYPE html>
<html>

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="ms-2 mb-3 row input-group text-start mt-3">
			<label class="col-sm-2 col-form-label">Length (inch):</label>
			<div class="col-sm-10">
				<input type="text" min="0" step="0.01" class="form-control" th:value="${product.length}" disabled>
			</div>
		</div>
		<div class="ms-2 mb-3 row input-group text-start mt-3">
			<label class="col-sm-2 col-form-label">Width (inch):</label>
			<div class="col-sm-10">
				<input type="text" min="0" step="0.01" class="form-control" th:value="${product.width}" disabled>
			</div>
		</div>
		<div class="ms-2 mb-3 row input-group text-start mt-3">
			<label class="col-sm-2 col-form-label">Height (inch):</label>
			<div class="col-sm-10">
				<input type="text" min="0" step="0.01" class="form-control" th:value="${product.height}" disabled>
			</div>
		</div>
		<div class="ms-2 mb-3 row input-group text-start mt-3">
			<label class="col-sm-2 col-form-label">Weight (pounds):</label>
			<div class="col-sm-10">
				<input type="text" min="0" step="0.01" class="form-control" th:value="${product.weight}" disabled>
			</div>
		</div>
	</div>

</body>

</html>