<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
</head>

<body>
	<th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<div th:if="${fieldName != ''}">
			<a class="text-white link-underline link-underline-opacity-0"
				th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
				[[${columnLabel}]]
			</a>
			<span th:if="${sortField == fieldName}"
				th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"> </span>
		</div>
		<span th:if="${fieldName == ''}">[[${columnLabel}]]</span>
	</th>
	<div class="less_details" th:fragment="listing(screenSize)" th:if="${screenSize == 'small'}">
		<div th:each="user : ${listUsers}" class="row m-1">
			<div class="col-4">
				<span th:if="${user.photos == null}"><i
						class="fa-solid fa-image-portrait fa-2xl icon-silver center"></i></span>
				<img class="user_listing_img" th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}">
			</div>
			<div class="col-8">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div class="mt-2">
					<div
						th:replace="~{fragments/listing.html :: status(${user.enabled}, 'user', '/users/' + ${user.id})}">
					</div>
					<div th:replace="~{fragments/listing.html :: edit('user', '/users/edit/' + ${user.id})}">
					</div>
					<div th:replace="~{fragments/listing.html :: delete('user', '/users/delete/' + ${user.id}, true, ${user.id})}"></div>
				</div>
			</div>
			<div class="mb-2"></div>
		</div>
	</div>
	<tbody th:fragment="listing(screenSize)" th:if="${screenSize == 'other'}">
		<tr th:each="user : ${listUsers}">
			<td class="hideable_column">[[${user.id}]]</td>
			<td class="default_image">
				<span th:if="${user.photos == null}"><i
						class="fa-solid fa-image-portrait fa-2xl icon-silver"></i></span>
				<img th:if="${user.photos != null}" class="user_listing_img" th:src="@{${user.photosImagePath}}">
			</td>
			<td class="hideable_column">[[${user.email}]]</td>
			<td>[[${user.firstName}]]</td>
			<td>[[${user.lastName}]]</td>
			<td>[[${user.roles}]]</td>
			<td>
				<div th:replace="~{fragments/listing.html :: status(${user.enabled}, 'user', '/users/' + ${user.id})}">
				</div>
			</td>
			<td>
				<div th:replace="~{fragments/listing.html :: edit('user', '/users/edit/' + ${user.id})}">
				</div>
				<div th:replace="~{fragments/listing.html :: delete('user', '/users/delete/' + ${user.id}, true, ${user.id})}"></div>
			</td>
		</tr>
	</tbody>
	<div class="less_details" th:fragment="catListing(screenSize)" th:if="${screenSize == 'small'}">
		<div th:each="cat : ${listCategories}" class="row m-1">
			<div class="col-4">
				<span th:if="${cat.image == null}"><i
						class="fa-solid fa-image-portrait fa-2xl icon-silver center"></i></span>
				<img class="cat_listing_img" th:src="@{${cat.imagePath}}">
			</div>
			<div class="col-8">
				<div>[[${cat.name}]]</div>
				<div class="mt-2">
					<div
						th:replace="~{fragments/listing.html :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}">
					</div>
					<div th:replace="~{fragments/listing.html :: edit('category', '/categories/edit/' + ${cat.id})}">
					</div>
					<div th:replace="~{fragments/listing.html :: delete('category', '/categories/delete/' + ${cat.id}, ${!cat.hasChildren}, ${cat.id})}"></div>
				</div>
			</div>
			<div class="mb-2"></div>
		</div>
	</div>
	<tbody th:fragment="catListing(screenSize)" th:if="${screenSize == 'other'}">
		<tr th:each="cat : ${listCategories}">
			<td>[[${cat.id}]]</td>
			<td>
				<span th:if="${cat.image == null}"><i class="fa-solid fa-image fa-2xl icon-silver"></i></span>
				<img th:if="${cat.image != null}" class="cat_listing_img" th:src="@{${cat.imagePath}}">
			</td>
			<td>[[${cat.name}]]</td>
			<td class="hideable_column">[[${cat.alias}]]</td>
			<td>
				<div
					th:replace="~{fragments/listing.html :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}">
				</div>
			</td>
			<td>
				<div th:replace="~{fragments/listing.html :: edit('category', '/categories/edit/' + ${cat.id})}">
				</div>
				<div th:replace="~{fragments/listing.html :: delete('category', '/categories/delete/' + ${cat.id}, ${!cat.hasChildren}, ${cat.id})}"></div>
			</td>
		</tr>
	</tbody>
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fa-solid fa-circle-check fa-xl icon-green me-2"
			th:href="@{${entityURL} + '/enabled/false' }" title="'Disable this' + ${entityName}"></a>
		<a th:if="${enabled == false}" class="fa-solid fa-circle-check fa-xl icon-dark me-2"
			th:href="@{${entityURL} + '/enabled/true' }" title="'Enable this' ${entityName}"></a>
	</div>

	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fa-solid fa-pen-to-square fa-xl me-2" style="color: #335b0b;" th:href="@{${editURL}}"
			th:title="'Edit this ' + ${entityName}"></a>
	</div>
	<div th:fragment="delete(entityName, deleteURL, visible, entityId)" th:remove="tag">
		<th:block th:if="${visible}">
			<a class="fa-solid fa-trash fa-xl link-delete" style="color: #d80e0e;" th:href="@{${deleteURL}}"
				th:entityId="${entityId}" title="'Delete this ' + ${entityName}"></a>
		</th:block>
	</div>
</body>

</html>