<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
</head>

<body>
	<th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<div th:if="${fieldName != ''}">
			<a class="text-white link-underline link-underline-opacity-0"
				th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
				[[${columnLabel}]]
			</a>
			<span th:if="${sortField == fieldName}"
				th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"> </span>
		</div>
		<span th:if="${fieldName == ''}">[[${columnLabel}]]</span>
	</th>
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fa-solid fa-circle-check fa-xl icon-green me-2"
			th:href="@{${entityURL} + '/enabled/false' }" title="'Disable this' + ${entityName}"></a>
		<a th:if="${enabled == false}" class="fa-solid fa-circle-check fa-xl icon-dark me-2"
			th:href="@{${entityURL} + '/enabled/true' }" title="'Enable this' ${entityName}"></a>
	</div>

	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fa-solid fa-pen-to-square fa-xl me-2" style="color: #335b0b;" th:href="@{${editURL}}"
			th:title="'Edit this ' + ${entityName}"></a>
	</div>
	<div th:fragment="delete(entityName, deleteURL, visible, entityId)" th:remove="tag">
		<th:block th:if="${visible}">
			<a class="fa-solid fa-trash fa-xl link-delete" style="color: #d80e0e;" th:href="@{${deleteURL}}"
				th:entityId="${entityId}" th:title="'Delete this ' + ${entityName}"></a>
		</th:block>
	</div>
</body>

</html>