<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/common.html :: page_head('Verification Succeeded!', 'none')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: head_menu}"></nav>
	
	<div class="ms-4 text-center my-3">
		<h1>Customer Registration</h1>
		<h4>Congratulations! Your account has been verified. </h4>
		<p>Please check your email to verify our account</p>
		<p><a class="link-underline link-underline-opacity-0" th:href="@{/login}">Login Now</a></p>
	</div>
	<div th:replace="~{fragments/navigation.html :: footer_menu}"></div>
</body>

</html>