<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/common.html :: header('Categories - Shopme Admin')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Categories</h2>
		<a th:href="@{/categories/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark me-5"></a>
		<a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
		<a th:href="@{/categories/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
		<a th:href="@{/categories/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
	</div>

	<div th:replace="~{fragments/common.html :: search_form_and_message('/categories/page/1')}"></div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<th th:replace="~{fragments/listing.html :: column_link('id', 'ID', 'ID', 'none')}"></th>
				<th>Category Image</th>
				<th
					th:replace="~{fragments/listing.html :: column_link('/categories', 'name', 'Category Name', 'none')}">
				</th>
				<th class="hideable_column">Alias</th>
				<th th:replace="~{fragments/listing.html :: column_link('/categories', 'name', 'Enabled', 'none')}">
				</th>
				<th></th>
			</thead>
			<tbody th:replace="~{fragments/listing.html :: catListing('other')}"></tbody>
		</table>
	</div>
	<div th:replace="~{fragments/listing.html :: catListing('small')}"></div>

	<div th:if="${keyword != null}" class="text-center">
		<span>Search result does not show categories in hierarchical form</span>
		<div th:replace="~{fragments/common.html :: pagination('/categories', 'categories')}"></div>
	</div>

	<th:block th:unless="${keyword != null}" class="text-center">
		<div th:replace="~{fragments/common.html :: pagination('/categories', 'top-level categories')}"></div>
	</th:block>

	<div th:replace="~{fragments/modal.html :: confirm_modal}"></div>
	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'category');
			});
		});
	</script>
</body>

</html>