<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/common.html :: header('Categories - Shopme Admin')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Categories</h2>
		<a th:href="@{/categories/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark me-5"></a>
		<a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
		<a th:href="@{/categories/export/excel}" class="fa-solid fa-file-excel fa-2xl icon-dark me-3"></a>
		<a th:href="@{/categories/export/pdf}" class="fa-solid fa-file-pdf fa-2xl icon-dark"></a>
	</div>

	<div th:replace="~{fragments/common.html :: search_form_and_message('/categories/page/1')}"></div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<th th:replace="~{fragments/listing.html :: column_link('id', 'ID', 'ID', 'none')}"></th>
				<th>Category Image</th>
				<th
					th:replace="~{fragments/listing.html :: column_link('/categories', 'name', 'Category Name', 'none')}">
				</th>
				<th class="hideable_column">Alias</th>
				<th th:replace="~{fragments/listing.html :: column_link('/categories', 'name', 'Enabled', 'none')}">
				</th>
				<th></th>
			</thead>
			<tbody>
				<tr th:each="cat : ${listCategories}">
					<td>[[${cat.id}]]</td>
					<td>
						<span th:if="${cat.image == null}"><i class="fa-solid fa-image fa-2xl icon-silver"></i></span>
						<img th:if="${cat.image != null}" class="cat_listing_img" th:src="@{${cat.imagePath}}">
					</td>
					<td>[[${cat.name}]]</td>
					<td class="hideable_column">[[${cat.alias}]]</td>
					<td>
						<div
							th:replace="~{fragments/listing.html :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}">
						</div>
					</td>
					<td>
						<div
							th:replace="~{fragments/listing.html :: edit('category', '/categories/edit/' + ${cat.id})}">
						</div>
						<div
							th:replace="~{fragments/listing.html :: delete('category', '/categories/delete/' + ${cat.id}, ${!cat.hasChildren}, ${cat.id})}">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="less_details">
		<div th:each="cat : ${listCategories}" class="row m-1">
			<div class="col-4">
				<span th:if="${cat.image == null}"><i
						class="fa-solid fa-image-portrait fa-2xl icon-silver center"></i></span>
				<img class="cat_listing_img" th:src="@{${cat.imagePath}}">
			</div>
			<div class="col-8">
				<div>[[${cat.name}]]</div>
				<div class="mt-2">
					<div
						th:replace="~{fragments/listing.html :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})}">
					</div>
					<div th:replace="~{fragments/listing.html :: edit('category', '/categories/edit/' + ${cat.id})}">
					</div>
					<div
						th:replace="~{fragments/listing.html :: delete('category', '/categories/delete/' + ${cat.id}, ${!cat.hasChildren}, ${cat.id})}">
					</div>
				</div>
			</div>
			<div class="mb-2"></div>
		</div>
	</div>

	<div th:if="${keyword != null}" class="text-center">
		<span>Search result does not show categories in hierarchical form</span>
		<div th:replace="~{fragments/common.html :: pagination('/categories', 'categories')}"></div>
	</div>

	<th:block th:unless="${keyword != null}" class="text-center">
		<div th:replace="~{fragments/common.html :: pagination('/categories', 'top-level categories')}"></div>
	</th:block>

	<div th:replace="~{fragments/modal.html :: delete_confirm_modal}"></div>
	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'category');
			});
		});
	</script>
</body>

</html>