<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/common.html :: page_head('Customer - Admin', 'none')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: menu}"></nav>
	<div class="ms-4">
		<h2>Manage Customers</h2>
		<a th:href="@{/customers/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark me-3"></a>
	</div>

	<div th:replace="~{fragments/common.html :: search_form_and_message()}"></div>

	<div class="container-fluid table-responsive-xl full_details">
		<table class="table table-hover">
			<thead class="table-dark">
				<th th:replace="~{fragments/listing.html :: column_link('id', 'ID', 'none')}"></th>
				<th
					th:replace="~{fragments/listing.html :: column_link('firstName', 'First Name', 'none')}">
				</th>
				<th
					th:replace="~{fragments/listing.html :: column_link('lastName', 'Last Name', 'none')}">
				</th>
				<th class="hideable_column">
				<th th:replace="~{fragments/listing.html :: column_link('email', 'E-mail', 'tag')}"></th>
				</th>
				<th class="hideable_column">
				<th th:replace="~{fragments/listing.html :: column_link('city', 'City', 'tag')}"></th>
				</th>
				<th class="hideable_column">
				<th th:replace="~{fragments/listing.html :: column_link('state', 'State', 'tag')}"></th>
				</th>
				<th th:replace="~{fragments/listing.html :: column_link('country', 'Country', 'none')}">
				</th>
				<th th:replace="~{fragments/listing.html :: column_link('enabled', 'Enabled', 'none')}">
				</th>
				<th class="col-md-2"></th>
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td>[[${customer.id}]]</td>
					<td>[[${customer.firstName}]]</td>
					<td>[[${customer.lastName}]]</td>
					<td class="hideable_column">[[${customer.email}]]</td>
					<td class="hideable_column">[[${customer.city}]]</td>
					<td class="hideable_column">[[${customer.state}]]</td>
					<td>[[${customer.country.name}]]</td>
					<td>
						<div
							th:replace="~{fragments/listing.html :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}">
						</div>
					</td>
					<td>
						<a class="fa-solid fa-file-lines fa-2xl icon-green me-3 link-detail"
							th:href="@{'/customers/detail/' + ${customer.id}}"
							title="View details of this customer"></a>
						<div
							th:replace="~{fragments/listing.html :: edit('customer', '/customers/edit/' + ${customer.id})}">
						</div>
						<div
							th:replace="~{fragments/listing.html :: delete('customer', '/customers/delete/' + ${customer.id}, true, ${customer.id})}">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="less_details">
		<div th:each="customer : ${listCustomers}" class="row m-1">
			<div class="col-4">
				<span class="fw-bold">[[${customer.fullName}]]</span>
			</div>
			<div class="col-8">
				<div>
					<a class="link-detail fw-bold link-underline link-underline-opacity-0"
						th:href="@{'/customers/detail/' + ${customer.id}}">[[${customer.country.name}]]</a>
				</div>
				<div class="mt-2">
					<div
						th:replace="~{fragments/listing.html :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}">
					</div>
					<a class="fa-solid fa-file-lines fa-xl icon-green link-detail me-2"
						th:href="@{'/customers/detail/' + ${customer.id}}">
						<div
							th:replace="~{fragments/listing.html :: edit('customer', '/customers/edit/' + ${customer.id})}">
						</div>
						<div
							th:replace="~{fragments/listing.html :: delete('customer', '/customers/delete/' + ${customer.id}, true, ${customer.id})}">
						</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments/common.html :: pagination('customers')}"></div>
	<div th:replace="~{fragments/modal.html :: delete_confirm_modal}"></div>
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>
	<div th:replace="~{fragments/common.html :: footer}"></div>
	<script type="text/javascript">
		moduleURL = "[[@{/customers}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'customer');
			});

			$(".link-detail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		});
	</script>
</body>

</html>