<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/common.html :: page_head(${SITE_NAME}, 'none')}"></head>

<body>
	<nav th:replace="~{fragments/navigation.html :: head_menu}"></nav>
	<div th:replace="~{fragments/navigation.html :: search_nav}"></div>
	
	<div class="ms-4">
		<h1>Shopping by Categories</h1>
	</div>
	<div class="row">
		<div class="col-md-1 ms-4 me-3" th:each="cat : ${listCategories}">
			<div class="d-flex justify-content-center">
				<img th:src="@{${cat.imagePath}}" width="80" height="80">
			</div>
			<div class="d-flex justify-content-center"> 
				<a th:href="@{'/c/' + ${cat.alias}}" class="fw-bold link-underline link-underline-opacity-0">[[${cat.name}]]</a>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/navigation.html :: footer_menu}"></div>
</body>

</html>